<div class='row'>
  <div class='span6'>
<h1>静态监控, 偷拍神器</h1>
<ul>
<li>这是一个操作与功能都非常简易的 android 监控 app</li>
<li>它可以每隔几秒钟就拍摄一张监控图片, 并存储到云端</li>
<li>您可以通过其他手机, 或者登录<b>本网站</b>查看这些图片</li>
<li>监控宠物动态, 监控花开的过程 ... </li>
</ul>
  </div>
  <div class='span4'>
    <h4>扫描二维码下载<b>监控神器</b></h4> 
    <img src="/assets/download_apk.png" style='width:150px;'/>
  </div>
</div>
<!--
<%= link_to "监控", camera_places_path, :class=>"btn btn-primary" %>
<%= link_to "我的图片", cameras_path, :class=>"btn btn-primary" %>
-->
<div style='width:850px;'>
  <img src="/assets/workflow.png" style='width:850px;'/>
</div>
