body,th,tr{
    font-family: 'Microsoft YaHei',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
}

*:focus {
	outline: none;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

a:hover {
    text-decoration: underline;
}
blockquote {
    border-left: 4px solid deepskyblue;
    margin-left: -19px;
    padding-left: 15px;
    margin-right: 0px;
}
#editor-bar {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 250ms, margin 250ms;
    -moz-transition: opacity 250ms, margin 250ms;
    -ms-transition: opacity 250ms, margin 250ms;
    -o-transition: opacity 250ms, margin 250ms;
    transition: opacity 250ms, margin 250ms;
    margin-top: -5px;
    margin-left: -62px;
}
#editor-bar .bar-options:before{
    content: "";
    border-top: 5px solid rgba(0,0,0,0.9);
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    margin-left: -5px;
    bottom: -15px;
    height: 5px;
    width: 0px;
    left: 50%;
}
#editor-bar .bar-options{
    padding: 5px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    margin-top: -40px;
    color: #fff;
    height: 40px;
}
#editor-bar button{
    background: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
    border: 0;
    border-radius: 3px;
    height: 30px;
    width: 28px;
    font-size: 25px;
    font-family: 'Lora', serif;
    float: left;
    margin-right: 1px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
#editor-bar button.active {
    background-color: #999;
}
#editor-bar.url_model button.B,
#editor-bar.url_model button.I,
#editor-bar.url_model button.BLOCKQUOTE{
    width: 0;
    overflow: hidden;
    margin-right: 0px;
    opacity: 0;
    display:none;
}

#editor-bar input.url{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius: 3px;
    overflow: hidden;
    outline: 0px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: left;
    width: 0px;
}
#editor-bar.url_model {
    margin-left: -122px;
}
#editor-bar.url_model input.url{
    width: 200px;
    padding: 0 5px;
}
#editor-bar.fade{
    margin-top: -5px;
    opacity: 0;
}
#editor-bar.active{
    margin-top: 0px;
    opacity: 1;
}
.art .content {
    line-height: 30px;
    font-size: 22px;
}
